body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    background-image: url("../assets/background.jpg");
}

.container{
    width: 100%;
    margin: 1em auto;
}

.grid{
    display: grid;
    justify-content: center;
    margin-left: .5px;
    grid-template-columns: repeat(4,1fr);   /* cool stuff */
    grid-gap: 0.1em;
    
}

h2{
    background-color: bisque;
    text-align: center;
}

div.card-body{
    padding: 0;
}

/* Movie Details */

.movie-details{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem;
    margin-bottom: 4rem;
}

.details-image{
    max-width: 500px;
}

.details-main{
    display: flex;
    max-width: 500px;
    background-color: white;
}

.details-title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: black;
    color: white;
}

.details-about{
    font-size: large;
    margin: 0 4rem ;
}

.details-imdb{
    display: block;
    margin: 0 4rem;
}

.fontHead {
    font-size: x-large;
}

.rating{
    display: flex;
    flex-direction: column;
}

/* Footer */

.footer{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.2rem;
}

.footer_header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}